@use "variaveis";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 100vh;

    h1 {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    label{
        margin-bottom: 1rem;
    }

    input {
        padding: 5px;
        margin-bottom: 1rem;
    }

    button {
        background-color: variaveis.$corDoButao;
        color: #fff;
        width: 100px;
        padding: 5px 10px;
        margin: 0 auto;
        border: none;

        &:hover {
            background-color: rgb(122, 122, 231);
        }
    }
}